
    <div class="container"id="formreservation">
    
        <div class="col-sm-12">
        <h2 class="textereservation">réserver vos heures de conduite !</h2>
            {{ form_start(formCalendar) }}
                {{ form_widget(formCalendar.start) }}
                {{ form_widget(formCalendar.end) }}

                <button class="btn" id="save">{{ button_label|default('Je reserve') }}</button>
            {{ form_end(formCalendar) }}
        </div>

    </div>

