{% extends 'base.html.twig' %}

{% block title %}AutoEcole-95{% endblock %}

{% block body %}
<div class="container-fluid" id="containerhome1">
                    <div class="row" id="rowhome1">
                        <div class="col12 titre50"></div>
                    </div>
                    <div class="row" id="rowhome2">
                        <div class="col-sm-4 statistique1"id="bor1">
                            <div class="col12 stat">95%</div>
                            <div class="col12 tag">taux de reussite au code </div>

                        </div>
                        <div class="col-sm-4 statistique2"id="bor2">
                            <div class="col12 stat">+10M</div>
                            <div class="col12 tag">Plus de dix mille clients </div>


                        </div>
                        <div class="col-sm-4 statistique3">
                            <div class="col12 stat">4.7/5</div>
                            <div class="col12 tag">Avis utilisateurs certifiés</div>


                        </div>


                    </div>
                    <div class="row" id="rowhome4">
                         {# <div class="col-sm-4"><img class="imgauto" src="{{asset('image/auto.jpg')}}"</div>  #}
                        {# <div class="col-sm-4"></div>
                        <div class="col-sm-4"><img class="imgauto"  /></div>  #}

                    </div>


                    <hr></hr>


                </div>
                <img id="imgcar"src="{{asset('image/imaged.png')}}"></div>

                <div class="container-fluid" id="containerhome2">
                    <div class="row" id="rowhome3">
                        <div class="col-sm-4 iconetexte"><i class="fas fa-book"></i>
                            <div class="col12 texte1">Révisez le code où et quand vous voulez</div>
                            <div class="col12 texte3">Entraînez-vous au Code de la route avec les manuelles qui vous serons délivré.</div>
                        </div>
                        <div class="col-sm-4 iconetexte"><i class="fas fa-map-marked-alt"></i>
                            <div class="col12 texte1">Ne vous déplacer plus  </div>
                            <div class="col12 texte2">Nos moniteurs d'auto école passent vous prendre chez vous </div>
                        </div>
                        <div class="col-sm-4 iconetexte"><i class="fas fa-wallet"></i>
                            <div class="col12 texte1">Financement flexibles et économiques </div>
                            <div class="col12 texte2">Des packs permis de conduire tout compris dès 625€ et la possibilité de payer en deux ou trois fois sans frais.</div>
                        </div>



                    </div>
                </div>

                <div class="containeur-fluid" id="containerhome3">
                    <div class="row" id="rowhome5">
                        <div class="col12 titre50">Nos moniteur de conduite salariès et diplomés</div>
                    </div>
                    <div class="row" id="rowhome6">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-3">
                            <div class="card" >
                                <img class="imgformateur" src="{{asset('image/moniteur1.jpg')}}" />
                                <div class="card-body">

                                    <p class="card-text">Mon métier,c'est à la fois une énorme responsabilité et beaucoup de beaux moments.</p>
                                    <p class="nom">Gregory-Moniteur à Villiers-le-Bel</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card" >
                                <img class="imgformateur" src="{{asset('image/moniteur2.jpg')}}" />
                                <div class="card-body">

                                    <p class="card-text">Ma plus grande satisfaction, c'est de voir les élèves progresser et réussir.</p>
                                    <p class="nom">Didier-Moniteur à Villiers-le-Bel</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card" >
                                <img class="imgformateur" src="{{asset('image/moniteur3.jpg')}}" />
                                <div class="card-body">

                                    <p class="card-text">Toujours se remettre en question,pour faire réussir les élèves et assurer la sécurité de tous</p>
                                    <p class="nom">Christine-Monitrice à Villiers-le-Bel</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


{% endblock %}
